/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.banner .fa-pen-to-square{
	color: #ffffff;
	margin-right: 10px;
	font-size: 20px;
}

.filters-style{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.filter-style-b {
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 37px;
	border-radius: 60px;
	border:  #1D6154 solid 1px;
	color: #1D6154;
	font-family: 'Work Sans' ;
	font-size: large;
	background-color: white;
}
.filter-style-b:active, .filter-style-b:focus {
	background-color: #1D6154;
	color: white;
}

.filter-style-b:hover{
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*** Page login ***/
a {
	display: flex;
	color: black;
}

.no-underline  {
	text-decoration: none;
}


.login-title {
	margin-left: 200px;
}
.mdp {
	margin-left: 500px;
}

.erreur-msg {
	margin-left: 40px;
	color: rgb(212, 37, 37);
	font-weight: 600px;
}

.active{
	display: block;

}
/* Bouton Modifier*/

.modifierProjectContainer{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	font-size: 16px;	

}
.btnModifier {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 30px;
	font-size: 16px;
	margin-top: 7px;
}

	  /* Modal 1 */
.modal {
	display: none;
	position: absolute;
	width: 630px;
	height: 731px;
	top: 600px;
	left: 390px;
	border-radius: 10px;
	background-color: #ffffff;
	z-index: 1;
  }
  .modalElement{
	display: flex;
	flex-direction: row;
	width: 70%;
	flex-wrap: wrap;
	height: 80%;
	overflow:auto;
	justify-content: flex-start;
	margin-left: 90px;
  }
  .image-container {
	width: 83px;
	height: 140px;

}

.modalElement img {
	width: 75px;
	height: 120px;

}
.fa-trash-can{
	width: 13px;
	height: 13px;
	color: #ffffff;
	background-color: #000000;
	border: #000000 2px solid;
	position: absolute;
	z-index: 99999999;
	margin-left: 55px;
	margin-top: 4px;
}
  .close {
	position: absolute;
	top: 10px;
	right: 10px;
	background:none;
	cursor: pointer;
	color: grey;
  	font-size: 28px;
  	font-weight: bold;
  }
  

  .close:hover,
  .close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
  }
 


.galeriePhotoStyle{
	margin-top: 40px;
	margin-bottom: 36px;
	font-weight: 500;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	color: black;
}
.trait-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30px;

}

.trait {
	display: flex;
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
}
.addpicture{
	display: block;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
	height: 36px;
	width: 237px;
	border-radius: 60px;
	margin-top: 30px;
	margin-left: 200px;
}
.delete-gallery{
	margin-top: 30px;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #D65353;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
}

/* Modal 2 */
.modal-content2 {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 670px;
	width: 630px;
	border-radius: 10px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	position: relative;
}
.arrowAndCross{
	width: 95%;
	display:flex;
	justify-content: space-between;

}
.fa-arrow-left{
	font-size: 21px;
}
.close2 {
	background:none;
	cursor: pointer;
	color: grey;
  	font-size: 28px;
  	font-weight: bold;
  }

  .close2:hover,
  .close2:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
  }
  .ajout-picture-title{
	font-size: 24px;
	margin-bottom: 40px;

  }
  .ajout-picture {
	background: #E8F1F6;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 6px;
	

}
.label-addPic{
	margin-top: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;

}
.preview-image{
	visibility: hidden;
	position: absolute;
	width: 200px;
	height: 194px;
	z-index: 55555;
	background-color: #fff;

}
.preview-image img{
	width: 100%;
	height: 100%;
	z-index: 60;
	background-color: #ffffff;
	}

.icon-picture{
	margin-top: 28px;
	font-size: 60px;
	color: #919191;

}
.input-addpic{
	visibility: hidden;

}
.ajout-picture p {

	color: #000000;
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400px;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 19px;
}
.form-container {
	display: flex;
	flex-direction: column;

}


.form-container label {
	color: black;
	display: flex;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 10px;
}

.form-container input{
	height: 51px;
	width: 420px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border:none;
}

.form-container select{
	height: 51px;
	width: 420px;
	margin-bottom: 40px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border:none;

}
.msg-error{
	color:red;
	margin-top: 20px;
}

.selectcategory{
	font-family: 'Work Sans';
	font-size: 10px;
}
.valider {
	margin-left: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #A7A7A7;
	color: white;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	height: 36px;
	width: 237px;
	border-radius: 60px;
	border: none;
	margin-top: 32px;
}
/* Banner + publier les changements */
.banner {
	display: none;
	justify-content: center;
	align-items: center;
	background: black;
	height: 50px;
	width: 1440px;
	margin-left: -150px;

}
.publish {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	height: 38px;
	width: 216px;
	border-radius: 60px;
	margin-left: 20px;
	margin-top: 6px;
	border: none;

}
/* Mode edition top */
.mode-edition-top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.text-top {
	cursor: pointer;
	color: white;
	border: none;
	background-color: black;
	font-family: 'Work Sans';
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-top: 6px;

}

.logo-top {
	height: 19px;
	margin-right: 12px;
	cursor: pointer;
	margin-top: 6px;

}
